@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Lahar.NET</h1>
    <p class="lead">Example communication library use with api of Lahar in ASP.NET MVC.</p>
    <p><a href="http://ajuda.lahar.com.br/integracoes" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            The purpose is to facilitate library and streamline integration with api of Lahar.<br /><br />
            Use the buttons on the side to generate actions.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Post a new Lead</h2>
        <p>Click to add a new lead example hard code in Lahar contact base by api.</p>
        <p><a class="btn btn-primary" href="~/lead/register">Register</a></p>
    </div>
    <div class="col-md-4">
        <h2>Update Stage Lead</h2>
        <p>Click to update the stage sample hard code lead in the Lahar contact base through api.</p>
        <p><a class="btn btn-primary" href="~/lead/update">Update</a></p>
    </div>
</div>