<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <!-- START DECLARE A SECTION PROVIDER-->
    <sectionGroup name="apiprovider">
      <section name="lahar" type="JE.Common.Provider.Api.LaharApiSectionHandler" allowLocation="true" allowDefinition="Everywhere" />
    </sectionGroup>
    <!-- END A SECTION PROVIDER-->
    
    <!-- START SECTION FOR LOG -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <!-- END  SECTION FOR LOG -->
    
  </configSections>

  <!-- START SETTINGS PROVIDER -->
  <apiprovider>
    <lahar request-protocol="http" request-url="app.lahar.com.br/api" token="ENTER-WITH-YOUR-TOKEN" />
  </apiprovider>
  <!-- END SETTINGS PROVIDER -->


  <!-- START CONFIGURATION LOG FOR APPLICATION -->
  <log4net>
    <!-- Example of configuration  http://logging.apache.org/log4net/release/config-examples.html -->
    <!-- Configuration log for generic error file -->
    <appender name="ApplicationLog" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/Lahar_Application.log" /> 
      <appendToFile value="true" />
      <maximumFileSize value="1000KB" />
      <rollingStyle value="Date" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{HH:mm:ss.fff} [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date - %message%newline" />
      </layout>
    </appender>
    <!-- Configuration of the debug level (ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF) for the error file genericos -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ApplicationLog" />
    </root>
  </log4net>
  <!-- END CONFIGURATION LOG FOR APPLICATION -->
  
</configuration>
